@font-face {
    font-family: reckless;
    src: url(/fonts/RecklessCondensedS-TRIAL-Book.woff);
}
@font-face {
    font-family: figtree;
    src: url(/fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}
@font-face {
    font-family: midnight;
    src: url(/fonts/midnight-sans-rd-12-semibold-trial.otf);
}
* {
 margin: 0%;
 padding: 0%;
box-sizing: border-box;
}
html,body {
 width: 100%;
 height: 100%;
}




.section-1{
    /* min-height: 100vh; */
    position: relative;
    height: 95vh;
    width: 100%;
    border: 1px solid black;
    background-image: url(https://www.twoleavestea.com/cdn/shop/files/cere-memorial_matcha_wide.png?v=1779304660&width=1280);
}
.section-1 .freeshiping-text{
    background: #2a2856;
    padding: 0.5em 0rem;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    

}
nav{
    background: white;
    display: flex;
    padding: 0.3rem 0rem;
    justify-content: space-between;
    align-items: center;
    margin: 2vh;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    /* position: sticky;

    z-index: 10; */
}


nav .left ul{

    display: flex;
    list-style: none;
    font-family: reckless;
    font-weight: 300;
    font-size: 1.5rem;
    gap: 2rem;
    padding-left: 1rem;
}
nav ul :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
nav ul li :nth-child(2){
    background: #c0dbff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    border-radius: 50px;
    border: 1px solid black;
    padding: 0.4rem 0.3rem;
    
}

nav ul :nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
nav ul :nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

nav .center{
    /* padding: 0rem 1rem; */
}
nav .right ul{
    display: flex;
    list-style: none;
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    font-weight: 500;
    gap: 1.5rem;
    padding-right: 2rem;
    align-items: center;

}


.section-1 .heading h1{
    font-family: reckless;
    font-weight: 300;
    font-size: 3.2rem;
}

.section-1 .heading{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    padding-left: 3vw;
    font-family: reckless;
    /* letter-spacing: 0.1rem; */
    font-weight: 400;
    font-family: figtree;
    padding-bottom: 2vw;
    
    
}
.btn-1{
    padding-bottom: 10vw;
}

.section-1 button{
    font-family: figtree;
    font-size: 1.1rem;
    margin: -4vw 3vw;
    padding: 0.9vw 3.5vw;
    border: 1px solid black;
    border-radius: 30px;
    background: #2a2856;
    color: white;
    
}
.section-1 button:hover{
    background: white;
    color: black;
transition: all 0.3s ease;
}


.section-2{
    background: #fbf9eb;
}
section.section-2 .text h1{
    /* background: red; */
    /* height: 100vh; */
    width: 100%;
    text-align: center;
    font-family: reckless;
    font-weight: 100;
    font-size: 4rem;
}
.section-2 .text{
    padding-top: 6vw;
    padding-bottom: 10vw;
}

.section-2 .btn-2{
        text-align: center;
        transform: rotate(-5deg);
}
.section-2 button{
    padding: 0px 0px;
    font-weight: 600;
    font-size: 3.75rem;
    /* background: #000; */
    font-family:  midnight;
    background: #daaeea;
    border-radius: 0.5rem;
    
}

.container{
    display: flex;
    gap: 1vw;
    width: 100%;
    padding-left: 3vw;
    padding-top: 4rem;
}
.card{
    height: 50vh;

    width: 22%;
}
.container :nth-child(1){
    background: #C1EE91;


}
.container :nth-child(1) img{
    height: 100%;
    width: 100%;

}
.container :nth-child(1) img:hover{
transform: scale(1.1);

}


.container :nth-child(2){
    background: #ffd884;

}
.container :nth-child(3){
    background: #b0e8c1;

}
.container :nth-child(4){
    background: #c1e4f8;

}